@import 'nib'
@import "mixins"
@import "fonts"

*
	padding 0px
	margin 0px
	list-style none
	text-align center
	font-family Proxima
	font-size 12px

#content
	background-color #eee
	width 350px
	margin 50px auto
